# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.env

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Main
GCP_Services.txt
Quick_Docs_Tech_Stack.txt
Quick_Docs_Overview.txt

# Visible
assets/
visible/firebaseConfig.js
visible/eas.json
visible/app.json
visible/google-services.json
visible/yadavmainserver-firebase-adminsdk-j807m-a298c237d9.json
visible/yadavmainserver-686fc016f695.json

# Invisible
invisible/qd-speech-api-user.json
invisible/ngrok.exe
invisible/app.js