# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.env
**/.env
**/package-lock.json

# visible hidden:
visible/eas.json
visible/yadavmainserver-firebase-adminsdk-j807m-a298c237d9.json
**/firebaseConfig.js
**/google-services.json
visible/yadavmainserver-686fc016f695.json

# invisible hidden:
invisible/quick-docs-bucket-service-account.json

GCP_Services.txt

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
